

@import url('http://fonts.googleapis.com/css?family=Open+Sans');


body {
	font-family: "Open Sans",sans serif;
	font-size: 12px;
}

.smaller {
	font-size: 10px;
}

.mt {
	margin-top: 25px;
}
.mb {
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

